/*==================================================================
                            01.Common css
==================================================================*/
/*=====  Common Style =====*/
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
} 

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #078fd8; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0080c5; 
}

html{
  scroll-behavior: smooth;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.64);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a,
i,
span {
  display: inline-block;
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.64);
  margin: 0;
}

textarea{
  resize: none;
  overflow: auto;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #fff;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

/*===== All Preloader Style =====*/
.loader{
  position: fixed;
  left: 0; top: 0; right: 0;
  height: 100%;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-bg{
  position: absolute;
  left: 0; right: 0; bottom: 0; top: 0;
  background-color: black;
  opacity: 0.7;
}

.spinner-border{
  width: 100px;
  height: 100px;
  color: #078FD8;
}

/*==================================================================
                          02.Page Banner css
==================================================================*/
/*=====  Page Banner Style =====*/
.page-banner {
  background-color: #542DED;
  padding-top: 40px;
  padding-bottom: 45px;
}

.page-banner-content .sub-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 55px;
  color: #fff;
}

@media (max-width: 767px) {
  .page-banner-content .sub-title {
    font-size: 24px;
    line-height: 28px;
  }
}

.page-banner-content .page-title {
  font-weight: 500;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .page-banner-content .page-title {
    font-size: 30px;
    line-height: 35px;
  }
}

/*==================================================================
                          03.Colors css
==================================================================*/
/*========== White Color =========*/
.white-color {
  color: #fff;
}

.white-variant {
  color: #FAFAFA;
}

.white-light {
  color: #F2F2F2;
}

.bg-white-color {
  background-color: #fff;
}

.bg-white-variant {
  background-color: #FAFAFA;
}

.bg-white-light {
  background-color: #F2F2F2;
}

/*========== Dark Color =========*/
.dark-color {
  color: #000;
}

.dark-variant {
  color: #4C4C4C;
}

.dark-light {
  color: #7D7D7D;
}

.bg-dark-color {
  background-color: #000;
}

.bg-dark-variant {
  background-color: #4C4C4C;
}

.bg-dark-light {
  background-color: #7D7D7D;
}

/*========== Gray Color =========*/
.gray-1 {
  color: #828282;
}

.gray-2 {
  color: #BDBDBD;
}

.gray-3 {
  color: #D1D1D1;
}

.gray-4 {
  color: #EFEFEF;
}

.bg-gray-1 {
  background-color: #828282;
}

.bg-gray-2 {
  background-color: #BDBDBD;
}

.bg-gray-3 {
  background-color: #D1D1D1;
}

.bg-gray-4 {
  background-color: #EFEFEF;
}
/*========== Font Weight =========*/
.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600{
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.text-strike{
  text-decoration: line-through;
}

.checkout-btn{
  cursor: pointer;
  border-radius: 5px;
  background-color: #e52e4f;
  color: white;
  text-align: center;
}

.checkout-btn:hover{
  color: white;
}

.main-btn {
  cursor: pointer;
  border-radius: 5px;
  background-color: #38b1f1;
  color: white;
  text-align: center;
  transition: .2s;
}

.main-btn:hover{
  background-color: #078FD8;
  color: white;
}

.main-btn-2{
  cursor: pointer;
  border: 2px solid #078FD8;
  border-radius: 5px;
  background-color: white;
  color: #078FD8;
  text-align: center;
  transition: .2s;
}

.main-btn-2:hover{
  background-color: #078FD8;
  color: white;
}

.cancel-btn{
  cursor: pointer;
  border: 2px solid #f1f1f1;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  transition: .2s;
}

/*==================================================================
                           10. Breadcrumbs css
==================================================================*/
/*=====  Breadcrumbs Style =====*/
.breadcrumbs-style {
  border-radius: 8px;
  padding: 5px;
  /*=====  Breadcrumbs Style 01 =====*/
  /*=====  Breadcrumbs Style 02 =====*/
}

@media (max-width: 767px) {
  .breadcrumbs-style {
    padding: 5px;
  }
}

.breadcrumbs-style .breadcrumb-left {
  padding-top: 5px;
}

.breadcrumbs-style .breadcrumb-left .breadcrumb {
  margin-bottom: 0;
  padding: 0;
  border-radius: 0;
  background-color: transparent;
}

@media (max-width: 767px) {
  .breadcrumbs-style .breadcrumb-left .breadcrumb {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item {
  position: relative;
  line-height: 40px;
  font-weight: 500;
  font-size: 14px;
}

@media (max-width: 767px) {
  .breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item {
    font-size: 14px;
  }
}

.breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item + .breadcrumb-item {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item + .breadcrumb-item {
    padding-left: 16px;
  }
}

.breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '\F0142';
  font-family: "Material Design Icons";
  font-size: 24px;
  position: absolute;
  line-height: 40px;
  left: 20px;
  padding: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    left: 2px;
  }
}

@media (max-width: 767px) {
  .breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    left: -1px;
    font-size: 18px;
  }
}

.breadcrumbs-style .breadcrumb-left .breadcrumb .breadcrumb-item a {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.breadcrumbs-style.breadcrumbs-style-1 {
  background-color: white;
}

.breadcrumbs-style.breadcrumbs-style-1 .breadcrumb-left .breadcrumb .breadcrumb-item {
  color: #542DED;
}

.breadcrumbs-style.breadcrumbs-style-1 .breadcrumb-left .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #542DED;
}

.breadcrumbs-style.breadcrumbs-style-1 .breadcrumb-left .breadcrumb .breadcrumb-item a {
  color: #7D7D7D;
}

.breadcrumbs-style.breadcrumbs-style-1 .breadcrumb-left .breadcrumb .breadcrumb-item a:hover {
  color: #542DED;
}

.breadcrumbs-style.breadcrumbs-style-1 .breadcrumb-right .nice-select::after {
  border-color: #542DED;
}

.breadcrumbs-style.breadcrumbs-style-1 .breadcrumb-right .nice-select .current {
  color: #4C4C4C;
}

.breadcrumbs-style.breadcrumbs-style-1 .breadcrumb-right .breadcrumb-list-grid li a {
  color: #7D7D7D;
}

.breadcrumbs-style.breadcrumbs-style-1 .breadcrumb-right .breadcrumb-list-grid li a.active {
  color: #542DED;
}

.breadcrumbs-style.breadcrumbs-style-2 {
  background-color: #542DED;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-left .breadcrumb .breadcrumb-item {
  color: #fff;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-left .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-left .breadcrumb .breadcrumb-item a {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-left .breadcrumb .breadcrumb-item a:hover {
  color: #fff;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .nice-select::after {
  border-color: #fff;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .nice-select .current {
  color: #FAFAFA;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .nice-select .list {
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
  background-color: transparent;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .nice-select .list .option {
  background-color: #542DED;
  color: #fff;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .nice-select .list .option.selected {
  background-color: #2A21DE;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .nice-select .list .option:hover {
  background-color: #2A21DE !important;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .nice-select .list:hover .option:not(:hover) {
  background-color: #542DED !important;
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .breadcrumb-list-grid li a {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-style.breadcrumbs-style-2 .breadcrumb-right .breadcrumb-list-grid li a.active {
  color: #fff;
}

/*=======================================================================================================================*/

/*====================================================== Custom =========================================================*/

/*============ input field =================*/
[type="text"], [type='tel'], [type='password']{
  width: 100%;
  padding:7px 12px;
  color: black;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  outline: none;
  transition: .2s;
}
[type='text']:focus, [type='tel']:focus, [type='password']:focus{
  border-radius: 5px;
  border: 1px solid #078FD8;
}

/*============ warning input =================*/
.required{
  border: 2px solid red !important;
  background-color: #ffe7e7 !important;
}

.required-text{
  padding-top: 5px;
  color: red;
  display: none;
}

/* ====================== radio input ======================*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label::before,
[type="radio"]:not(:checked) + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label::before{
  border: 1px solid #078FD8;
}
[type="radio"]:not(:checked) + label::before{
  border: 1px solid #ddd;
}
[type="radio"]:checked + label::after,
[type="radio"]:not(:checked) + label::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #078FD8;
    border: 1px solid #078FD8;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* ====================== checkbox input ======================*/
[type='checkbox']:checked, [type='checkbox']:not(:checked){
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label::before,
[type="checkbox"]:not(:checked) + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background: #fff;
}
[type="checkbox"]:checked + label::before{
  background-color: #078FD8;

}
[type="checkbox"]:not(:checked) + label::before{
  border: 1px solid #ddd;
}
[type="checkbox"]:checked + label::after,
[type="checkbox"]:not(:checked) + label::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  z-index: 1;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}
[type="checkbox"]:checked + label::after {
  opacity: 1;
}

/* ================ range slider =================*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #078FD8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/*=======================================================================================================================*/

#btn-scroll-top{
  cursor: pointer;
  position: fixed;
  right: 1%;
  bottom: 2%;
  padding: 5px 10px;
  border: 2px solid #078fd8;
  background-color: #078FD8;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}

.center-img{
  display: block;
  margin: auto;
}

.carousel-indicators{
  position: relative;
  padding-top: 20px;
}

.carousel-indicators button{
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  margin: 0 10px 0 10px !important;
  background-color: white !important;
  border: 1px solid black !important;
}

.carousel-indicators .active{
  background-color: #078FD8 !important;
  border: 1px solid #078FD8 !important;
} 

.circle-img{
  border-radius: 100%;
}

.relative{
  position: relative;
}

.pointer-cs{
  cursor: pointer;
}

.default-cs{
  cursor: default;
}

.none-dp{
  display: none;
}

.block-dp{
  display: block;
}

.vl{
  border-right: 1px solid #dcdcdc;
  height: 100%;
}

.none-style{
  list-style-type: none;
}

/*====================================== Toast ===================================*/
.alert-toast{
  position: fixed;
  left: 20px; bottom: 30px;
  z-index: 2;
  width: auto;
  background-color: black;
  opacity: 0.7;
  color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.16);
  transform: translateY(100px);
  transition: .2s;
}

.select{
  position: relative;
}

.select-disable{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  cursor: pointer;
  width: 100%;
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
  color: black;
}

.select-selected{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  cursor: pointer;
  width: 100%;
  background-color: white;
  border: 1px solid #dcdcdc;
  color: black;
}

.select-search{
  cursor: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.select-search-inp{
  width: 100%;
  padding: 5px 27px 5px 5px;
  border: 1px solid #dcdcdc;
}

.select-search-icon{
  position: absolute;
  right: 18px; top: 20px;
  color: #828282;
}

.select-box{
  position: absolute;
  left: 0; right: 0; top: 100%;
  background-color: white;
  z-index: 10;
  margin-top: 10px;
  border: 1px solid #dcdcdc;
  display: none;
}

.select-option{
  overflow: auto;
  max-height: 200px;
}

.select-single-option{
  cursor: pointer;
  padding: 7px 12px;
  background-color: white;
}

.select-single-option:hover{
  background-color: #078FD8;
  color: white;
}

/*======================================= owl carousel ========================================*/
#prev-owl-carousel, #next-owl-carousel{
  position: absolute;
  top: 40%;
  bottom: 40%;
  z-index: 1;
}

#prev-owl-carousel{
  left: 0;
}

#next-owl-carousel{
  right: 0;
}

/*====================================================== Header ===============================================*/

.head-bg{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  position: sticky;
  top: 0;
  z-index: 100;
}

#show-offcanvas{
  cursor: pointer;
}

#btn-close-offcanvas{
  cursor: pointer;
}

.backdrop{
  position: fixed;
  left: 0; top: 0; right: 0;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 3;
  display: none;
}

.head-offcanvas{
  display: none;
}

.head-offcanvas-item a{
  color: black;
}

.head-offcanvas-box{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.head-offcanvas-img{
  width: 150px;
  display: block;
  margin: auto;
}

.head-offcanvas-avatar{
  width: 60px;
}

.head-offcanvas-account{
  cursor: pointer;
  position: relative;
}

.head-offcanvas-account-option{
  position: absolute;
  left: -20%; right: -40%; top: 100%;
  height: auto;
  border: 1px solid #dcdcdc;
  background-color: white;
  transition: 1s;
  display: none;
  z-index: 1;
}

.options{
  padding: 10px 20px;
}

@media screen and (max-width: 1296px) and (min-width: 1100px){
  .head-offcanvas {
    display: none;
  }
  .head-item{
    display: block;
  }
}

@media screen and (max-width: 1100px) and (min-width: 576px){
  .head-offcanvas {
    display: block;
  }
  .head-item{
    display: none;
  }
}

.head-brand{
  width: 60px;
}

.head-item a{
  display: flex;
  align-items: center;
}

.head-number{
  background-color: #ee1010;
  color: white;
  border-radius: 5px;
  padding: 2px 6px;
  margin-left: 10px;
}

.head-drop-2:hover .head-drop-content-2{
  display: block;
}

.head-drop-content-2{
  position: fixed;
  top: 0; bottom: 0; left: 32%; width: 300px;
  z-index: 100;
  background-color: white;
  overflow: auto;
  display: none;
}

.head-phone-drop-content{  
  position: absolute;
  left: 7%; right: 20%;
  border-radius: 10px;
  background-color: white;  
  display: none;
}

.head-input-grp{
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
}

.head-search-input{
  border-radius: 5px;
  padding: 10px 30px 10px 10px;
  border: none;
  width: 100%;
}

.input-icon-right{
  background-color: white;
  position: absolute;
  right: 10px;
}

.input-icon-left{
  background-color: white;
  position: absolute;
  left: 10px;
}

.head-search-result{
  position: absolute;
  left: 0; right: 0; top: 100%;
  z-index: 1;
  margin-top: 10px;
  width: 100%;
  max-height: 390px;
  background-color: white;
  overflow: auto;
  display: none;
}

@media screen and (max-width: 768px) and (min-width: 576px){
  .head-search-result{
    max-height: 240px;
    margin-top: 0;
    
  }
}

.head-single-result:hover{
  background-color: #f5f5f5;
  color: black;
}

.head-cart{
  position: relative;
  color: white;
}

.head-cart-box{
  cursor: auto;
  position: absolute;
  top: 100%; left: -100px;
  width: 500px;
  border-radius: 10px;
  max-height: 600px; overflow: auto;
  
  z-index: 90;
  background-color: white;
  display: none;
}

.cart-img-pro{
  width: 80px;
}

.cart-pro-info{
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.center-td{
  vertical-align:middle;
}

.minus{
  border: none;
  background: none;
  padding-left: 10px;
  color: #BDBDBD;
}

.plus{
  border: none;
  background: none;
  padding-right: 10px;
  color: #BDBDBD;
}

.minus:hover, .plus:hover{
  color: #078fd8;
}

.cart-total{
  margin: 0 0 30px 0;
}

.btn-view-cart{
  border: 1px solid #078fd8;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: white;
  color: #078fd8;
  margin-right: 10px;
  transition: 0.25s;
}

.btn-view-cart:hover{
  box-shadow: 1px 1px 4px 2px #078fd8;
}

.btn-checkout{
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #078fd8;
  color: white;
  transition: 0.25s;
}

.btn-checkout:hover{
  color: white;
  background-color: black;
}

.head-qty-cart{
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  background-color: #e52e4f;
  padding: 4px 5px;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.head-account{
  cursor: default;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
}

.head-account:hover .head-account-dropdown{
  display: block;
}

.head-account-dropdown{
  position: absolute;
  right: 0; top: 100%;
  height: auto; width: 200%;
  background-color: white;
  border: 1px solid #dcdcdc;
  font-weight: 300;
  display: none;
}

.head-btn-signup{
  padding: 5px 10px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 600;
  transition: 0.5s
}

.head-btn-signup:hover{
  background-color: white;
  color: black !important ;
}

/*====================================================== SLideshow ===============================================*/

.carousel-inner{
  height: 400px;
}

.carousel:hover .slideshow-btn-prev{
  visibility: visible;
  transform: translateX(20px);
}

.carousel:hover .slideshow-btn-next{
  visibility: visible;
  transform: translateX(-20px);
}

.slideshow-btn-prev, .slideshow-btn-next{
  cursor: pointer;
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transform: translateX(0);
  transition: .2s;
  visibility: hidden;
}

.slideshow-btn-prev{
  left: 0; top: 45%; bottom: 45%;
  width: 5%;
}

.slideshow-btn-next{
  right: 0; top: 45%; bottom: 45%;
  width: 5%;
}

.banner{
  height: 400px;
}

.single-banner{
  height: 120px;
  width: 100%;
}

@media screen and (max-width: 992px){
  .banner{
    margin-top: 20px;
    height: 640px;
  }
  .single-banner{
    height: 200px;
  }
}

/*===================================================== Index ===========================================================*/

.index-bg{
  background-color: #f5f8fd;
}

.index-promotion-phone{
  background-color: white;
  padding: 20px;
  transition: .2s;
}

.index-promotion-phone:hover{
  border: 3px solid gray;
}

.fire-animation{
  position: absolute;
  left: 0; top: 0; bottom: 0;
  display: flex;
  align-items: center;
  animation-name: fire-animation;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes fire-animation {
  0%   {color: orangered;}
  50%  {color: orange; font-size: 28px;}
  100% {color: orangered;}
}

.index-sale-tag{
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(to right, #d61717, #dbac13);
}

.index-btn-owl-left, .index-btn-owl-right{
  padding: 10px;
  background: white;
}

.index-btn-owl-left{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.16);
}

.index-btn-owl-right{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.16);
}

.index-brand-tag{
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #5c5c5c;
  color: #5c5c5c;
  margin: 0 5px;
  transition: .2s;
}

.index-brand-tag:hover{
  border: 2px solid #078FD8;
  background: #078FD8;
  color: white;
}

/*===================================================== Account ===========================================================*/

.box-shadow {
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.16);
}

.login-signup-with{
  width: 350px;
  padding: 7px;
  border-radius: 15px;
  font-weight: bold;
  margin: 5px;
  background-color: white;
  color: black;
}

.icon-btn-login-signup{
  width: 25px;
}

/*===================== Cover image ==================*/

.account-cover-avatar-div{
  position: relative;
}

.account-cover-img{
  background-image: url(../images/cover-image-blank.png);
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}

.account-cover-avatar-div:hover .overlay-cover{
  bottom: 0;
  height: 100%;
}

.overlay-cover{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #078fd8;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 10px;
}

#pre-cover-big{
  width: 100%;
  max-height: 250px;
}

.preview-cover{
  overflow: hidden;
  width: 100%;
  height: 200px;
  max-height: 250px;
}

.avt-temp{
  position: absolute;
  right: 5%; bottom: -50px;
  width: 100px;
  height: 100px;
}

/*===================== Avatar image ==================*/

.account-cover-avatar-div:hover .overlay-avatar{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.account-avatar-div{
  position: relative;
  top: -90px;
  padding: 0 50px 0;
}

.overlay-avatar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #078fd8;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 50%;
}

.account-avt-img{
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

#pre-avt-big{
  width: 100%;
  max-height: 450px; 
}

.preview-avt{
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

/*=====================================================*/

.account-change-img{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s;
}

.account-change-img:hover{
  color: white;
}

.account-profile-title{
  background-color: #F2F2F2;
  color: black;
  padding: 15px;
  border-radius: 10px;
}

.account-sidebar-tag{
  padding: 10px 20px;
  color: #3b3b3b;
  display: flex;
  align-items: center;
}

.account-sidebar-tag:hover{
  background-color: #9eddff;
  color: #3b3b3b;
}

.account-sidebar-active{
  background-color: #9eddff;
}

.td-10{
  width: 10%;
  vertical-align: middle;
}

.td-15{
  width: 15%;
  vertical-align: middle;
}

.td-20{
  width: 20%;
  vertical-align: middle;
}

.td-25{
  width: 205;
  vertical-align: middle;
}

.td-30{
  width: 30%;
  vertical-align: middle;
}

.td-40{
  width: 40%;
  vertical-align: middle;
}

.td-50{
  width: 50%;
  vertical-align: middle;
}

.td-60{
  width: 60%;
  vertical-align: middle;
}

.account-btn-option{
  cursor: pointer;
  position: relative;
}

.account-option-div{
  position: absolute;
  right: 0; top: 100%; 
  z-index: 1;
  height: auto; width: 200px;
  background-color: white;
  display: none;
}

.account-noti-checked{
  background-color: white;
}

.account-noti-wait{
  background-color: #f6fcff;
}

.account-order{
  position: relative;
}
.account-order-product-div{
  position: absolute;
  left: 0; right: 0;
  height: 50px;
  background-color: red;
}

.account-deliver-success, .account-deliver-fail{
  cursor: default;
  padding: 10px;
  text-align: center; 
  border-radius: 10px;
  color: white;
}

.account-deliver-success{
  background-color: #16e420;
}

.account-deliver-fail{
  background-color: #ee5316;
}

.account-voucher{
  position: relative;
  display: flex;
  width: 100%;
}

/*===================== big voucher ==================*/

.voucher-left{
  background-color: white;
  border-radius: 10px;
  border-top: 2px solid #078FD8;
  border-right: 2px dashed #dcdcdc;
  border-bottom: 2px solid #078FD8;
  border-left: 2px solid #078FD8;
  position: relative;
}

.voucher-left::before{
  content:  '';
  position: absolute;
  top: -2px; right: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-bottom-left-radius: 100%;
  border-bottom: 2px solid #078FD8;
  border-left: 2px solid #078FD8;
}
.voucher-left::after{
  content:  '';
  position: absolute;
  bottom: -2px; right: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-top-left-radius: 100%;
  border-left: 2px solid #078FD8;
  border-top: 2px solid #078FD8;
}

.voucher-right{
  background-color: white;
  border-radius: 10px;
  border-top: 2px solid #078FD8;
  border-right: 2px solid #078FD8;
  border-bottom: 2px solid #078FD8;
  color: black;
  /* box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.16); */
  position: relative;
}

.voucher-right::before{
  content: '';
  position: absolute;
  top: -2px; left: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-bottom-right-radius: 100%;
  border-right: 2px solid #078FD8;
  border-bottom: 2px solid #078FD8;
}
.voucher-right::after{
  content: '';
  position: absolute;
  bottom: -2px; left: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-top-right-radius: 100%;
  border-right: 2px solid #078FD8;
  border-top: 2px solid #078FD8;
}

/*===================== small voucher ==================*/

.voucher-left-small{
  background-color: white;
  border-radius: 5px;
  border-top: 2px solid #078FD8;
  border-right: 2px dashed #dcdcdc;
  border-bottom: 2px solid #078FD8;
  border-left: 2px solid #078FD8;
  position: relative;
}

.voucher-left-small::before{
  content:  '';
  position: absolute;
  top: -2px; right: -2px;
  width: 7px; height: 7px;
  background-color: white;
  border-bottom-left-radius: 100%;
  border-bottom: 2px solid #078FD8;
  border-left: 2px solid #078FD8;
}
.voucher-left-small::after{
  content:  '';
  position: absolute;
  bottom: -2px; right: -2px;
  width: 7px; height: 7px;
  background-color: white;
  border-top-left-radius: 100%;
  border-left: 2px solid #078FD8;
  border-top: 2px solid #078FD8;
}

.voucher-right-small{
  background-color: white;
  border-radius: 5px;
  border-top: 2px solid #078FD8;
  border-right: 2px solid #078FD8;
  border-bottom: 2px solid #078FD8;
  /* box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.16); */
  position: relative;
}

.voucher-right-small::before{
  content: '';
  position: absolute;
  top: -2px; left: -2px;
  width: 7px; height: 7px;
  background-color: white;
  border-bottom-right-radius: 100%;
  border-right: 2px solid #078FD8;
  border-bottom: 2px solid #078FD8;
}
.voucher-right-small::after{
  content: '';
  position: absolute;
  bottom: -2px; left: -2px;
  width: 7px; height: 7px;
  background-color: white;
  border-top-right-radius: 100%;
  border-right: 2px solid #078FD8;
  border-top: 2px solid #078FD8;
}

/*===================== disable voucher ==================*/

.dis-voucher-left{
  background-color: white;
  border-radius: 10px 17px 17px 10px;
  border-top: 2px solid #dcdcdc;
  border-right: 2px dashed #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
  position: relative;
}

.dis-voucher-left::before{
  content:  '';
  position: absolute;
  top: 0; right: 0;
  width: 10px; height: 10px;
  background-color: white;
  border-bottom-left-radius: 100%;
  border-bottom: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
}
.dis-voucher-left::after{
  content:  '';
  position: absolute;
  bottom: 0; right: 0;
  width: 10px; height: 10px;
  background-color: white;
  border-top-left-radius: 100%;
  border-left: 2px solid #dcdcdc;
  border-top: 2px solid #dcdcdc;
}

.dis-voucher-right{
  background-color: white;
  border-radius: 17px 10px 10px 17px;
  border-top: 2px solid #dcdcdc;
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  color: #747474;
  /* box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.16); */
  position: relative;
}

.dis-voucher-right::before{
  content: '';
  position: absolute;
  top:0; left:0;
  width: 10px; height: 10px;
  background-color: white;
  border-bottom-right-radius: 100%;
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}
.dis-voucher-right::after{
  content: '';
  position: absolute;
  bottom: 0; left:0;
  width: 10px; height: 10px;
  background-color: white;
  border-top-right-radius: 100%;
  border-right: 2px solid #dcdcdc;
  border-top: 2px solid #dcdcdc;
}

.voucher-left-content{
  position: absolute;
  top: 10px; right: 10px; bottom: 10px; left: 10px;
  background-color: #078FD8;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.dis-voucher-left-content{
  position: absolute;
  top: 10px; right: 10px; bottom: 10px; left: 10px;
  background-color: #dcdcdc;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.dis-promotion-info-icon{
  color: #747474;
}

.dis-condition-tag{
  border: 1px solid #747474;
  border-radius: 5px;
  padding: 5px 10px;
  color: #747474;
  cursor: default;
}

/*=======================================================*/

.voucher-left-small-content{
  position: absolute;
  top: 5px; right: 5px; bottom: 5px; left: 5px;
  background-color: #078FD8;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.promotion-info-icon{
  color: #078FD8;
}

.promotion-info-icon:hover .voucher-content{
  display: block;
}

.dis-promotion-info-icon:hover .voucher-content{
  display: block;
}

.voucher-content{
  position: absolute;
  right: 0; top: 100%;
  width: 400px;
  height: auto;
  background-color: white;
  display: none;
  z-index: 100;
}


/*===================================================== Shop ===========================================================*/

.shop-filter-sort-bar{
  margin-bottom: 50px; 
  padding: 15px; 
  border-radius: 10px
}

#btn-show-filter, #btn-show-sort{
  cursor: pointer;
  color: #0d6efd;
}

.shop-filter-box{
  position: absolute;
  right: 0;
  width: 500px; padding: 20px; border-radius: 10px;
  background-color: white;
  z-index: 1;
  display: none;
}

.shop-btn-remove-filter{
  cursor: pointer;
  color: #d80707;
  text-align: center;
}

.shop-sort-box{
  position: absolute;
  right: 0;
  width: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
  display: none;
}

.filter-item{
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.shop-btn-see-result{
  display: none;
}

.shop-product-card{
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
}

.shop-product-card:hover .shop-overlay-product{
  bottom: 0;
  height: 100%;
}

.shop-product-card:hover .shop-cart-link{
  opacity: 1;
  -ms-transform: translateY(415%);
  transform: translateY(415%);
}

.shop-product-card:hover .shop-detail-link{
  opacity: 1;
  -ms-transform: translateY(-415%);
  transform: translateY(-415%);
}

@media screen and (max-width: 1296px) and (min-width: 1200px) {
  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(365%);
    transform: translateY(365%);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-365%);
    transform: translateY(-365%);
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(360%);
    transform: translateY(360%);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-360%);
    transform: translateY(-360%);
  }

  .shop-cart-link, .shop-detail-link{
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(360%);
    transform: translateY(360%);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-360%);
    transform: translateY(-360%);
  }

  .shop-cart-link, .shop-detail-link{
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px){
  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(345%);
    transform: translateY(345%);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-345%);
    transform: translateY(-345%);
  }
}

@media screen and (max-width: 576px){
  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(620%);
    transform: translateY(620%);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-620%);
    transform: translateY(-620%);
  }
}

.shop-overlay-product{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /* background-color: black; */
  background-color: #078fd8;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 10px;
}

.shop-cart-link, .shop-detail-link{
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  transition: .5s;
  opacity: 0;
}

.shop-cart-link{
  position: absolute;
  left: 10%;
  top: 0;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.shop-cart-link:hover{
  background-color: white;
  color: black;
}

.shop-detail-link{
  position: absolute;
  left: 10%;
  bottom: 0;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.shop-detail-link:hover{
  background-color: white;
  border: 1px solid white;
  color: black;
}

.shop-cart-link-2{
  color: white;
  background-color: #078fd8;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  transition: 0.75s;
  margin: 5px 0 5px 0;
}

.shop-cart-link-2:hover{
  color: white
}

.shop-detail-link-2{
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
  transition: 0.75s;
  margin: 5px 0 5px 0;
}

.shop-promotion-tag{
  width: 30px;
  height: 0;
  border-top: 30px solid #CA2D0E;
  border-left: 20px solid #CA2D0E;
  border-right: 20px solid #CA2D0E;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 12px;
  color: white;
  font-weight: 400;
}

.shop-promotion-text{
  position: relative;
  top: -25px;
  right: 14px
}

.shop-product-img-card{
  width: 80%;
  display: block;
  margin:auto;
}

.checked{
  color: orange;
}

.uncheck{
  color:gainsboro
}

/*===================================================== Detail ===========================================================*/

.detail-product-name-title{
  font-size: 32px;
  font-weight: 600;
}

.detail-another-div{
  position: relative;
  margin: 20px 0;
}

.detail-option{
  width: auto;
  padding: 10px;
  text-align: center;
  margin: 5px 10px 5px 0;
  color: black;
  border-radius: 5px;
}

.detail-option:hover{
  color:black;
  box-shadow: 0 0 1px 2px #078fd8;
}

.detail-title{
  margin: 5px 0;
  font-weight: 600;
}

.selected{
  box-shadow: 0 0 1px 2px #078fd8;
}

.detail-promotion{
  border: 1px solid #078fd8;
  border-radius: 5px;
  padding: 20px 10px 10px;
  position: relative;
}

.detail-warranty{
  border: 1px solid #078FD8;
  border-radius: 5px;
}

.detail-promotion-text{
  position: absolute;
  top: -15px;
  left: 40px;
  background-color: #078fd8;
  color: white;
  padding: 5px 10px 5px;
  border-radius: 50px;
}

.detail-promotion-content{
  margin: 5px 0 0 20px;
  text-align: justify;
}

.detail-check-qty{
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: #8bd6ff;
}

.detail-branch-list{
  border: 1px solid gainsboro;
  max-height: 170px;
  overflow: auto;
  display: none;
}

.detail-branch{
  padding: 10px;
}

.detail-specifications{
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
  font-weight: 600;
}

.detail-specifications-title{
  padding: 10px;
  font-weight: 600;
  background-color: #078FD8;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.detail-specifications-title-2{
  padding: 10px;
  font-weight: 600;
  background-color: #f1f1f1;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
}

.detail-vote-avg{
  font-size: 46px;
  color: orange;
  font-weight:   600;
}

.detail-progress-bar{
  width: 100%;
  height: 7px;
  background-color: #dcdcdc;
  position: relative;
}

#percent-5-star, #percent-4-star, #percent-3-star, #percent-2-star, #percent-1-star{
  position: absolute;
  top: 0; left: 0; bottom: 0;
  background-color: #078FD8;
}

.star-rating{
  cursor: pointer;
}

.upload-inp{
  display: none;
}

.detail-upload-link{
  cursor: pointer;
}

.evaluate-img-div{
  position: absolute;
  left: 0; top: 95%;
  z-index: 1;
  width: 500px;
  max-width: 500px;
  max-height: 150px;
  overflow: auto;
  background-color: white;
  display: none;
}

.img-rating{
  width: 33.3333333%;
  padding: 5px;
  position: relative;
}

.btn-remove-single-img{
  cursor: pointer;
  position: absolute;
  top: 5px; right: 5px;
  z-index: 1;
  width: 20px;
  height: 20px;
  color: white;
}

.btn-expanded-evaluate{
  cursor: pointer;
  display: none;
}

.expand-icon{
  transition: .2s;
}

.btn-remove-all{
  cursor: pointer;
  color: #d80707;
  display: none;
}

.detail-btn-login{
  padding: 5px 20px;
  border: 2px solid #078FD8;
  border-radius: 5px;
  background-color: #078FD8;
  color: white;
  text-align: center;
  font-weight: 600;
  transition: .2s;
}

.detail-btn-login:hover{
  border: 2px solid #078FD8;
  background-color: white;
  color: #078FD8;
}

.img-evaluate{
  width: 100px;
  height: 100px;
}

/*===================================================== Login signup ===========================================================*/

.login-box{
  padding: 50px; 
  border-radius: 10px;
}

.login-btn{
  width: 100%;
  padding: 10px;
  border: 2px solid #078fd8;
  background-color: #078FD8;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-align: center;
  transition: .25s;
}

.login-btn:hover{
  background-color: white;
  border: 2px solid #078fd8;
  color: #078FD8;
}

/*===================================================== Compare ===========================================================*/

.compare-btn-add-phone{
  cursor: pointer;
  border: none;
  background: none;
}

.btn-close{
  position: absolute;
  top: 10px; right: 10px;
}

.compare-list-search-phone{
  max-height: 500px;
  overflow: auto;
  display: none;
}

.compare-single-phone{
  cursor: pointer;
  padding: 10px;
  background-color: white;
}

.compare-single-phone:hover{
  background-color: #a6e0ff;
}

.compare-detail{
  display: none;

}

/*===================================================== Section Subcribe ===========================================================*/

.sub-input-grp{
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.sub-email-input{
  border-radius: 10px;
  padding: 10px 35px;
  border: none;
  width: 100%;
}

/*===================================================== Cart ===========================================================*/

.cart-box{
  border-radius: 10px;
}

.cart-title{
  font-size: 26px;
  font-weight: 600;
  text-align: right;
}

.cart-single-item{
  padding: 20px
}

.cart-promotion{
  background-color: #fff9ac;
}

.cart-btn-info-promotion{
  background-color: none;
  border: none;
}

.cart-img-product{
  width: 30%;
  display: block;
  margin: auto;
}

.cart-qty-input{
  border: 1px solid gainsboro;
  padding: 5px 10px;
}

.cart-voucher-input{
  width: 50%;
  border: 1px solid gainsboro;
  padding: 5px;
}

.cart-voucher-input:focus{
  outline: 2px solid #078FD8
}

.cart-list-pro{
  max-height: 500px;
  overflow-y: visible;
  overflow-x: hidden;
}

/*===================================================== Checkout ===========================================================*/

.atStore, .atHome{
  display: none;
  background-color: #f5f5f5;
}

.list-branch{
  border: 1px solid #dcdcdc;
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
  display: none;
}

.single-branch{
  padding: 7px 12px;
  background-color: white;
}

.single-branch:hover{
  background-color: #078FD8;
}

.single-branch:hover .branch-text{
  color: white;
}

.checkout-payment-icon{
  width: 60px;
  margin: 0 2px;
}

.order-id{
  background-color: #16e420;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  width: auto;
  padding: 5px 30px;
  margin: 10px 0;
}

#success-checkout{
  opacity: 0;
  transition: .5s;
}

/*=================================================================*/
.checkout-btn-collapse-cart{
  cursor: pointer;
  transition: .5s;
}

/*===================================================== Checkout ===========================================================*/

