/*========================================================================================================================
                                                      Default                                                           
========================================================================================================================*/

@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
} 

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #078fd8; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0080c5; 
}

html{
  scroll-behavior: smooth;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.64);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a,
i,
span {
  display: inline-block;
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #fff;
  width: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#btn-scroll-top{
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 1%;
  bottom: 2%;
  padding: 5px 10px;
  border: 2px solid #078fd8;
  background-color: #078FD8;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  color: white;
  transition: 0.5s;
  -ms-transform: translateY(100px);
  transform: translateY(100px);
}

.center-img{
  display: block;
  margin: auto;
}

.circle-img{
  border-radius: 100%;
}

.relative{
  position: relative;
}

.pointer-cs{
  cursor: pointer;
}

.default-cs{
  cursor: default;
}

.none-dp{
  display: none;
}

.block-dp{
  display: block;
}

.vl{
  border-right: 1px solid #dcdcdc;
  height: 100%;
}

.none-style{
  list-style-type: none;
}

.border-success{
  border: 3px dashed #15c41e;
}

.vertical-center{
  vertical-align:middle;
}

.box-shadow {
  box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.16);
}

.error-message, .success-message{
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.error-message{
  background-color: #fcc9c9;
}

.success-message{
  background-color: #c9ffc2;
}

/*========================================================================================================================
                                                      Loader                                                           
========================================================================================================================*/

.loader{
  position: fixed;
  left: 0; top: 0; right: 0;
  height: 100%;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-bg{
  position: absolute;
  left: 0; right: 0; bottom: 0; top: 0;
  background-color: black;
  opacity: 0.8;
}

.loader-img{
  position: absolute;
  left: 50%; top: 50%;
  margin: -45px 0 0 -45px;
  width: 90px;
}

.spinner-border{
  width: 110px;
  height: 110px;
  color: white;
}

/*========================================================================================================================
                                                      Alert Toast
==========================================================================================================================*/

.alert-toast{
  cursor: default;
  position: fixed;
  left: 20px; bottom: 30px;
  z-index: 5;
  width: auto;
  font-size: 16px;
  background-color: black;
  opacity: 0.8;
  color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.16);
  transform: translateY(100px);
  transition: .2s;
}

/*========================================================================================================================
                                                  Color & Font
==========================================================================================================================*/
/*========== White Color =========*/
.white-color {
  color: #fff;
}

.white-variant {
  color: #FAFAFA;
}

.white-light {
  color: #F2F2F2;
}

.bg-white-color {
  background-color: #fff;
}

.bg-white-variant {
  background-color: #FAFAFA;
}

.bg-white-light {
  background-color: #F2F2F2;
}

/*========== Dark Color =========*/
.dark-color {
  color: #000;
}

.dark-variant {
  color: #4C4C4C;
}

.dark-light {
  color: #7D7D7D;
}

.bg-dark-color {
  background-color: #000;
}

.bg-dark-variant {
  background-color: #4C4C4C;
}

.bg-dark-light {
  background-color: #7D7D7D;
}

/*========== Gray Color =========*/
.gray-1 {
  color: #828282;
}

.gray-2 {
  color: #BDBDBD;
}

.gray-3 {
  color: #D1D1D1;
}

.gray-4 {
  color: #EFEFEF;
}

.bg-gray-1 {
  background-color: #828282;
}

.bg-gray-2 {
  background-color: #BDBDBD;
}

.bg-gray-3 {
  background-color: #D1D1D1;
}

.bg-gray-4 {
  background-color: #EFEFEF;
}
/*========== Font Weight =========*/
.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-600{
  font-weight: 600;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.text-strike{
  text-decoration: line-through;
}

.checkout-btn{
  cursor: pointer;
  border-radius: 5px;
  background-color: #f83a5c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: .2s;
}

.checkout-btn:hover{
  color: white;
  background-color: #e52e4f;
}

.main-btn, button.main-btn {
  cursor: pointer;
  border-radius: 5px;
  background-color: #38b1f1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
}

button.main-btn{
  border: none;
}

.main-btn:hover, button.main-btn{
  background-color: #078FD8;
  color: white;
}

.main-btn-2{
  cursor: pointer;
  border: 2px solid #078FD8;
  border-radius: 5px;
  background-color: white;
  color: #078FD8;
  text-align: center;
  transition: .2s;
}

.main-btn-2:hover{
  background-color: #078FD8;
  color: white;
}

.cancel-btn{
  cursor: pointer;
  border-radius: 5px;
  background-color: #d8d8d8;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: .2s;
}

/*========================================================================================================================
                                                      select                                                           
/*========================================================================================================================*/

.select{
  position: relative;
}

.select-disable{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  cursor: pointer;
  width: 100%;
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc;
  color: black;
}

.select-selected{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 12px;
  cursor: pointer;
  width: 100%;
  background-color: white;
  border: 1px solid #dcdcdc;
  color: black;
}

.select-search{
  cursor: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.select-search-inp{
  width: 100%;
  padding: 5px 27px 5px 5px;
  border: 1px solid #dcdcdc;
}

.select-search-icon{
  position: absolute;
  right: 18px; top: 20px;
  color: #828282;
}

.select-box{
  position: absolute;
  left: 0; right: 0; top: 100%;
  background-color: white;
  z-index: 10;
  margin-top: 10px;
  border: 1px solid #dcdcdc;
  display: none;
}

.select-option{
  overflow: auto;
  max-height: 200px;
}

.select-single-option{
  cursor: pointer;
  padding: 7px 12px;
  background-color: white;
}

.select-single-option:hover{
  background-color: #f8f8f8;
  color: black;
}


/*========================================================================================================================
                                                      Required input                                                           
/*========================================================================================================================*/

.required{
  box-shadow: 0 0 0 2px red !important;
  background-color: #ffe7e7 !important;
}

.required-text{
  padding-top: 5px;
  color: red;
}

/*========================================================================================================================
                                                      Input field                                                           
/*========================================================================================================================*/

::placeholder{
  color: #919191;
}

/*============ input field =================*/
[type="text"], .phone-number, [type='password'], [type='email']{
  width: 100%;
  padding:7px 12px;
  color: black;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  outline: none;
  transition: .2s;
}
[type='text']:focus, .phone-number:focus, [type='password']:focus, [type='email']:focus{
  border-radius: 5px;
  box-shadow: 0 0 0 2px #078FD8;
}


/*========================================================================================================================
                                                  Phone number sign up                                                           
/*========================================================================================================================*/

.sign-up{
  width: 100%;
  padding: 7px;
  color: black;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dcdcdc;
  outline: none;
  transition: .2s;
}

.required-2{
  border-bottom: 2px solid red;
  background-color: #ffe7e7 !important;
}

/*========================================================================================================================
                                                      Radio input                                                           
/*========================================================================================================================*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label::before,
[type="radio"]:not(:checked) + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label::before{
  border: 1px solid #078FD8;
}
[type="radio"]:not(:checked) + label::before{
  border: 1px solid #ddd;
}
[type="radio"]:checked + label::after,
[type="radio"]:not(:checked) + label::after {
    content: '';
    width: 10px;
    height: 10px;
    background: #078FD8;
    border: 1px solid #078FD8;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*========================================================================================================================
                                                      Checkbox input                                                           
/*========================================================================================================================*/

[type='checkbox']:checked, [type='checkbox']:not(:checked){
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label::before,
[type="checkbox"]:not(:checked) + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;
    background: #fff;
}
[type="checkbox"]:checked + label::before{
  background-color: #078FD8;

}
[type="checkbox"]:not(:checked) + label::before{
  border: 1px solid #ddd;
}
[type="checkbox"]:checked + label::after,
[type="checkbox"]:not(:checked) + label::after {
  content: '';
  position: absolute;
  left: 5px;
  top: 4px;
  z-index: 1;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
[type="checkbox"]:not(:checked) + label::after {
  opacity: 0;
}
[type="checkbox"]:checked + label::after {
  opacity: 1;
}

/*========================================================================================================================
                                                      Textarea                                                           
/*========================================================================================================================*/

textarea{
  resize: none;
  overflow: auto;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  padding: 7px 14px;
  width: 100%;
  transition: .2s;
}

textarea:focus{
  box-shadow: 0 0 0 2px #078FD8;
}

/*========================================================================================================================
                                                      Range slider                                                           
/*========================================================================================================================*/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #078FD8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/*========================================================================================================================
                                                      Owl carousel                                                           
/*========================================================================================================================*/

.prev-owl-carousel, .next-owl-carousel{
  position: absolute;
  top: 40%;
  bottom: 40%;
  z-index: 1;
}

.prev-owl-carousel{
  left: 0;
}

.next-owl-carousel{
  right: 0;
}

/*========================================================================================================================
                                                    Breadcrumbs css
==========================================================================================================================*/

.bc{
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
}

.bc-item{
  color: #888888;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
}

.bc-item.active{
  font-weight: 600;
}

.bc-item:hover{
  color: #078FD8;
}

.bc-divider{
  color: #078FD8;
}

/*========================================================================================================================
                                                        Header                                                           
/*========================================================================================================================*/

.head-bg{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  position: sticky;
  left: 0; top: 0; right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 100;
}

#show-offcanvas{
  cursor: pointer;
}

#btn-close-offcanvas{
  cursor: pointer;
}

.backdrop{
  position: fixed;
  left: 0; top: 0; right: 0;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 3;
  display: none;
}

.head-offcanvas{
  display: none;
}

.head-offcanvas-item a{
  color: black;
}

.head-offcanvas-box{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.head-offcanvas-img{
  width: 150px;
  display: block;
  margin: auto;
}

.head-offcanvas-avatar{
  width: 60px;
}

.head-offcanvas-account{
  cursor: pointer;
  position: relative;
}

.head-offcanvas-account-option{
  position: absolute;
  left: -20%; right: -40%; top: 100%;
  height: auto;
  border: 1px solid #dcdcdc;
  background-color: white;
  transition: 1s;
  display: none;
  z-index: 1;
}

.options{
  padding: 10px 20px;
}

@media screen and (max-width: 1296px) and (min-width: 1100px){
  .head-offcanvas {
    display: none;
  }
  .head-items{
    display: block;
  }
}

@media screen and (max-width: 1100px) and (min-width: 576px){
  .head-offcanvas {
    display: block;
    float: right;
  }
  .head-items{
    display: none;
  }
}

.head-brand{
  width: 60px;
}

.head-item{
  display: flex;
  align-items: center;
}

a.head-item:hover{
  color: white;
}

.head-number{
  background-color: #ee1010;
  color: white;
  border-radius: 5px;
  padding: 2px 6px;
  margin-left: 10px;
}

.head-drop-2:hover .head-drop-content-2{
  display: block;
}

.head-drop-content-2{
  position: fixed;
  top: 0; bottom: 0; left: 32%; width: 300px;
  z-index: 100;
  background-color: white;
  overflow: auto;
  display: none;
}

.head-brand-item{
  padding: 10px;
  background-color: white;
  width: 200px;
  color: black;
  justify-content: space-between;
}

.head-brand-item:hover{
  background-color: #f1f1f1;
  color: black;
}

.head-input-grp{
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
}

.head-search-input{
  border-radius: 5px;
  padding: 10px 30px 10px 10px;
  border: none;
  width: 100%;
}

.input-icon-right{
  position: absolute;
  right: 10px;
}

.input-icon-left{
  background-color: white;
  position: absolute;
  left: 10px;
}

.head-search-result{
  position: absolute;
  left: 0; right: 0; top: 100%;
  z-index: 1;
  margin-top: 10px;
  width: 100%;
  max-height: 390px;
  background-color: white;
  overflow: auto;
  display: none;
}

@media screen and (max-width: 768px) and (min-width: 576px){
  .head-search-result{
    max-height: 240px;
    margin-top: 0;
  }
}

.head-single-result:hover{
  background-color: #f5f5f5;
  color: black;
}

/*===============================================================
                            Cart
=================================================================*/

.head-cart{
  position: relative;
  color: white;
}

.head-cart::before{
  content: 'Xem giỏ hàng';
  position: absolute;
  left: 100%;
  margin-left: 20px;
  width: 120px;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
  display: none;
}

.head-cart::after{
  content: '';
  position: absolute;
  left: 100%; top: 10px;
  margin-left: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid black;
  border-bottom: 5px solid transparent;
  opacity: 0.8;
  display: none;
}

.head-cart:hover{
  color: white;
}

.head-cart:hover::before, .head-cart:hover::after{
  display: block;
}

.head-qty-cart{
  position: absolute;
  top: -10px; right: -10px;
  color: white;
  background-color: #e52e4f;
  padding: 4px 7px;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.minus{
  border: none;
  background: none;
  padding-left: 10px;
  color: #BDBDBD;
}

.plus{
  border: none;
  background: none;
  padding-right: 10px;
  color: #BDBDBD;
}

.minus:hover, .plus:hover{
  color: #078fd8;
}

.add-cart-success{
  position: absolute;
  top: 100%; left: 0;
  width: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.16);
}

.add-cart-success::before{
  content: '';
  position: absolute;
  left: 35px; top: -10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid white;
}

.head-account{
  cursor: default;
  font-weight: 600;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.head-account:hover .head-account-dropdown{
  display: block;
}

.head-account-dropdown{
  position: absolute;
  right: 0; top: 100%;
  height: auto; width: 250px;
  font-weight: 300;
  display: none;
}

.head-account-option{
  padding: 10px 20px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
}

.head-account-option:hover{
  background-color: #f1f1f1;
  color: black;
}

.head-btn-signup{
  padding: 5px 10px;
  color: black;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  transition: .2s;
}

.head-btn-signup:hover{
  color: black;
}

/*========================================================================================================================
                                                      Slideshow                                                           
/*========================================================================================================================*/

.carousel-indicators{
  position: relative;
  padding-top: 20px;
}

.carousel-indicators button{
  width: 10px !important;
  height: 10px !important;
  border-radius: 100%;
  margin: 0 10px !important;
  background-color: white !important;
  border: 1px solid #078FD8 !important;
}

.carousel-indicators .active{
  background-color: #078FD8 !important;
  border: 1px solid #078FD8 !important;
} 

.carousel-inner{
  height: 400px;
}

.carousel-img{
  width: 100%;
  height: 400px;
}

.carousel:hover .slideshow-btn-prev{
  visibility: visible;
  transform: translateX(20px);
}

.carousel:hover .slideshow-btn-next{
  visibility: visible;
  transform: translateX(-20px);
}

.slideshow-btn-prev, .slideshow-btn-next{
  cursor: pointer;
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(0);
  transition: .2s;
  visibility: hidden;
}

.slideshow-btn-prev{
  left: 0; top: 45%; bottom: 45%;
  width: 42px;
}

.slideshow-btn-next{
  right: 0; top: 45%; bottom: 45%;
  width: 42px;
}

.banner{
  height: 400px;
}

.single-banner{
  height: 120px;
  width: 100%;
}

@media screen and (max-width: 992px){
  .banner{
    margin-top: 20px;
    height: 640px;
  }
  .single-banner{
    height: 200px;
  }
}

.big-banner{
  background-image: url("../images/banner/big-banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}

/*========================================================================================================================
                                                          Index                                                           
/*========================================================================================================================*/

.index-bg{
  background-color: #f5f8fd;
}

.index-promotion-phone{
  background-color: white;
  padding: 20px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #dcdcdc;
  transition: .2s;
}

.index-promotion-phone:hover{
  border: 4px solid orangered;
}

.index-featured-phone{
  position: relative;
  background-color: white;
  padding: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 0 1px #dcdcdc;
}

.index-featured-phone:hover{
  box-shadow: 0 0 4px 3px #dcdcdc;
  z-index: 1;
}

.fire-animation{
  position: absolute;
  left: 0; top: 0; bottom: 0;
  display: flex;
  align-items: center;
  animation-name: fire-animation;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes fire-animation {
  0%   {color: orangered;}
  50%  {color: orange; font-size: 28px;}
  100% {color: orangered;}
}

.index-sale-tag{
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(to right, #d61717, #dbac13);
}

.btn-owl-left-style-1, .btn-owl-right-style-1{
  padding: 10px;
  background: white;
}

.btn-owl-left-style-1{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 0 4px 2px rgba(0, 0, 0, 0.16);
}

.btn-owl-right-style-1{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: -2px 0 4px 2px rgba(0, 0, 0, 0.16);
}

.index-brand-tag{
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  margin: 0 5px;
}

.index-brand-tag:hover{
  border: 2px solid black;
  background: black;
  color: white;
}

/*========================================================================================================================
                                                    Account sidebar                                                           
/*========================================================================================================================*/

.account-sidebar-tag{
  padding: 10px 20px;
  color: #3b3b3b;
  display: flex;
  align-items: center;
}

.account-sidebar-tag:hover{
  background-color: #9eddff;
  color: #3b3b3b;
}

.account-sidebar-active{
  background-color: #9eddff;
}

/*========================================================================================================================
                                                    Account profile                                                           
/*========================================================================================================================*/

.account-div-border{
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px #078FD8;
}

/*=======================================================
                       Avatar image 
=========================================================*/

.account-avatar-div:hover .overlay-avatar{
  transform: scale(1);
}

.account-avatar-div{
  position: relative;
  left: 50%;
  margin: 0 0 20px -80px;
  width: 160px;
  height: 160px;
}

.overlay-avatar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #078fd8;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-radius: 50%;
}

.account-avt-img{
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

#pre-avt-big{
  width: 100%;
  max-height: 450px; 
}

.preview-avt{
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}

/*=====================================================*/

.account-change-img{
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s;
}

.account-change-img:hover{
  color: white;
}

/*========================================================================================================================
                                              Account notification                                                           
/*========================================================================================================================*/

.account-btn-option{
  cursor: pointer;
  position: relative;
}

.account-option-div{
  position: absolute;
  right: 0; top: 100%; 
  z-index: 1;
  height: auto; width: 200px;
  background-color: white;
  display: none;
}

.account-noti-checked{
  background-color: white;
}

.account-noti-wait{
  background-color: #f6fcff;
}

/*========================================================================================================================
                                                    Account order                                                           
/*========================================================================================================================*/

.account-order{
  position: relative;
}

.account-order-product-div{
  position: absolute;
  left: 0; right: 0;
  height: 50px;
  background-color: red;
}

.list-phone-order{
  max-height: 500px;
  overflow-y: auto;
}

.account-deliver-success, .account-deliver-fail{
  cursor: default;
  padding: 10px;
  text-align: center; 
  border-radius: 10px;
  color: white;
}

.account-deliver-success{
  background-color: #16e420;
}

.account-deliver-fail{
  background-color: #ee5316;
}

/*========================================================================================================================
                                                    Account voucher                                                           
/*========================================================================================================================*/

.account-voucher{
  position: relative;
  display: flex;
  width: 100%;
}

/*==================================================
                     big voucher
===================================================*/

.voucher-left{
  background-color: white;
  border-radius: 10px;
  border-top: 2px solid #078FD8;
  border-right: 2px dashed #dcdcdc;
  border-bottom: 2px solid #078FD8;
  border-left: 2px solid #078FD8;
  position: relative;
}

.voucher-left::before{
  content:  '';
  position: absolute;
  top: -2px; right: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-bottom-left-radius: 100%;
  border-bottom: 2px solid #078FD8;
  border-left: 2px solid #078FD8;
}
.voucher-left::after{
  content:  '';
  position: absolute;
  bottom: -2px; right: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-top-left-radius: 100%;
  border-left: 2px solid #078FD8;
  border-top: 2px solid #078FD8;
}

.voucher-left-content{
  position: absolute;
  top: 10px; right: 10px; bottom: 10px; left: 10px;
  background-color: #078FD8;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.voucher-right{
  background-color: white;
  border-radius: 10px;
  border-top: 2px solid #078FD8;
  border-right: 2px solid #078FD8;
  border-bottom: 2px solid #078FD8;
  color: black;
  /* box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.16); */
  position: relative;
}

.voucher-right::before{
  content: '';
  position: absolute;
  top: -2px; left: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-bottom-right-radius: 100%;
  border-right: 2px solid #078FD8;
  border-bottom: 2px solid #078FD8;
}
.voucher-right::after{
  content: '';
  position: absolute;
  bottom: -2px; left: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-top-right-radius: 100%;
  border-right: 2px solid #078FD8;
  border-top: 2px solid #078FD8;
}

.voucher-content{
  position: absolute;
  right: 0; top: 100%;
  width: 400px;
  height: auto;
  background-color: white;
  display: none;
  z-index: 100;
}

/*==================================================
                     Small voucher
===================================================*/

.voucher-left-small{
  background-color: white;
  border-radius: 5px;
  border-top: 2px solid #078FD8;
  border-right: 2px dashed #dcdcdc;
  border-bottom: 2px solid #078FD8;
  border-left: 2px solid #078FD8;
  position: relative;
}

.voucher-left-small::before{
  content:  '';
  position: absolute;
  top: -2px; right: -2px;
  width: 7px; height: 7px;
  background-color: white;
  border-bottom-left-radius: 100%;
  border-bottom: 2px solid #078FD8;
  border-left: 2px solid #078FD8;
}
.voucher-left-small::after{
  content:  '';
  position: absolute;
  bottom: -2px; right: -2px;
  width: 7px; height: 7px;
  background-color: white;
  border-top-left-radius: 100%;
  border-left: 2px solid #078FD8;
  border-top: 2px solid #078FD8;
}

.voucher-left-small-content{
  position: absolute;
  top: 5px; right: 5px; bottom: 5px; left: 5px;
  background-color: #078FD8;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.voucher-right-small{
  background-color: white;
  border-radius: 5px;
  border-top: 2px solid #078FD8;
  border-right: 2px solid #078FD8;
  border-bottom: 2px solid #078FD8;
  /* box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.16); */
  position: relative;
}

.voucher-right-small::before{
  content: '';
  position: absolute;
  top: -2px; left: -2px;
  width: 7px; height: 7px;
  background-color: white;
  border-bottom-right-radius: 100%;
  border-right: 2px solid #078FD8;
  border-bottom: 2px solid #078FD8;
}
.voucher-right-small::after{
  content: '';
  position: absolute;
  bottom: -2px; left: -2px;
  width: 7px; height: 7px;
  background-color: white;
  border-top-right-radius: 100%;
  border-right: 2px solid #078FD8;
  border-top: 2px solid #078FD8;
}

/*==================================================
                     disable voucher
===================================================*/

.dis-voucher-left{
  background-color: white;
  border-radius: 10px;
  border-top: 2px solid #dcdcdc;
  border-right: 2px dashed #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
  position: relative;
}

.dis-voucher-left::before{
  content: '';
  position: absolute;
  top: -2px; right: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-bottom-left-radius: 100%;
  border-bottom: 2px solid #dcdcdc;
  border-left: 2px solid #dcdcdc;
}
.dis-voucher-left::after{
  content:  '';
  position: absolute;
  bottom: -2px; right: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-top-left-radius: 100%;
  border-left: 2px solid #dcdcdc;
  border-top: 2px solid #dcdcdc;
}

.dis-voucher-right{
  background-color: white;
  border-radius: 10px;
  border-top: 2px solid #dcdcdc;
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
  color: #747474;
  /* box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.16); */
  position: relative;
}

.dis-voucher-right::before{
  content: '';
  position: absolute;
  top: -2px; left: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-bottom-right-radius: 100%;
  border-right: 2px solid #dcdcdc;
  border-bottom: 2px solid #dcdcdc;
}
.dis-voucher-right::after{
  content: '';
  position: absolute;
  bottom: -2px; left: -2px;
  width: 10px; height: 10px;
  background-color: white;
  border-top-right-radius: 100%;
  border-right: 2px solid #dcdcdc;
  border-top: 2px solid #dcdcdc;
}

.dis-promotion-info-icon{
  color: #747474;
}

.dis-voucher-left-content{
  position: absolute;
  top: 10px; right: 10px; bottom: 10px; left: 10px;
  background-color: #dcdcdc;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.dis-condition-tag{
  border: 1px solid #747474;
  border-radius: 5px;
  padding: 5px 10px;
  color: #747474;
  cursor: default;
}

.dis-promotion-info-icon:hover .voucher-content{
  display: block;
}

/*===================================================
=====================================================*/

.promotion-info-icon{
  color: #078FD8;
}

.promotion-info-icon:hover .voucher-content{
  display: block;
}

/*========================================================================================================================
                                                    Account address                                                           
/*========================================================================================================================*/

.btn-new-address{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #dcdcdc;
  font-size: 22px;
  cursor: pointer;
}


/*========================================================================================================================
                                                          Shop                                                           
/*========================================================================================================================*/

#btn-show-filter, #btn-show-sort{
  cursor: pointer;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.filter-badge{
  position: absolute;
  right: -10px; top: -10px;
  padding: 2px 8px;
  border-radius: 100%;
  background-color: #e52e4f;
  color: white;
  font-size: 14px;
  display: flex;
  justify-self: center;
  align-items: center;
  display: none;
}

.filter-title{
  font-weight: 600;
  color: black;
  margin-bottom: 5px;
}

.filter-item{
  padding: 7px 12px;
  text-align: center;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  color: black;
  margin: 0 10px 10px 0;
  display: flex;
}

.filter-selected{
  color:#078FD8;
  border: 2px solid #078FD8;
}

.filter-item.brand{
  width: 120px;
  display: flex;
  justify-content: center;
}

.filter-item:hover{
  color:#078FD8;
  border: 2px solid #078FD8;
}

.shop-btn-remove-filter{
  cursor: pointer;
  color: #d80707;
  text-align: center;
}

.see-result-filter{
  display: none;
}

.shop-sort-box{
  position: absolute;
  right: 0;
  width: 200px;
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
  display: none;
}

.shop-product-card{
  width: 100%;
  height: 400px;
  border-radius: 10px;
  margin-top: 30px;
  position: relative;
}

.shop-product-card:hover .shop-overlay-product{
  bottom: 0;
  height: 100%;
}

.shop-product-card:hover .shop-cart-link{
  opacity: 1;
  -ms-transform: translateY(155px);
  transform: translateY(155px);
}

.shop-product-card:hover .shop-detail-link{
  opacity: 1;
  -ms-transform: translateY(-155px);
  transform: translateY(-155px);
}

@media screen and (max-width: 1296px) and (min-width: 1200px) {
  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(155px);
    transform: translateY(155px);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-155px);
    transform: translateY(-155px);
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .shop-product-card{
    height: 320px;
  }

  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(120px);
    transform: translateY(120px);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  .shop-cart-link, .shop-detail-link{
    font-size: 14px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .shop-product-card{
    height: 320px;
  }

  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(120px);
    transform: translateY(120px);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-120px);
    transform: translateY(-120px);
  }

  .shop-cart-link, .shop-detail-link{
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) and (min-width: 576px){
  .shop-product-card{
    height: 340px;
  }

  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(125px);
    transform: translateY(125px);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-125px);
    transform: translateY(-125px);
  }
}

@media screen and (max-width: 576px){
  .shop-product-card{
    height: auto;
  }

  .shop-product-card:hover .shop-cart-link{
    opacity: 1;
    -ms-transform: translateY(240px);
    transform: translateY(240px);
  }
  
  .shop-product-card:hover .shop-detail-link{
    opacity: 1;
    -ms-transform: translateY(-240px);
    transform: translateY(-240px);
  }
}

.shop-overlay-product{
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  /* background-color: black; */
  background-color: #078fd8;
  opacity: 0.5;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  border-radius: 10px;
}

.shop-cart-link, .shop-detail-link{
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  transition: .5s;
  opacity: 0;
}

.shop-cart-link{
  position: absolute;
  left: 10%;
  top: 0;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.shop-cart-link:hover{
  background-color: white;
  color: black;
}

.shop-detail-link{
  position: absolute;
  left: 10%;
  bottom: 0;
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.shop-detail-link:hover{
  background-color: white;
  border: 1px solid white;
  color: black;
}

.shop-promotion-tag{
  width: 30px;
  height: 0;
  border-top: 30px solid #CA2D0E;
  border-left: 20px solid #CA2D0E;
  border-right: 20px solid #CA2D0E;
  border-bottom: 20px solid transparent;
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 12px;
  color: white;
  font-weight: 400;
}

.shop-promotion-text{
  position: relative;
  top: -25px;
  right: 14px
}

.shop-product-img-card{
  width: 80%;
  display: block;
  margin:auto;
}

.checked{
  color: orange;
}

.uncheck{
  color:gainsboro
}

.choose-color-item{
  width: 20%;
  padding: 5px;
  margin: 0 10px 10px 0;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
  border: 2px solid #dcdcdc;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.choose-color-item:hover{
  border: 2px solid #078FD8;
}


.choose-color-selected{
  border: 2px solid #078FD8;
}

/*========================================================================================================================
                                                          Detail                                                           
/*========================================================================================================================*/

.detail-another-div{
  position: relative;
  margin: 20px 0;
}

.favorite-tag{
  cursor: pointer;
  position: relative;
  background-color: white;
  border: 2px solid #f14c91;
  border-radius: 100%;
  color: #f14c91;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 24px;
}

.favorite-tag::before{
  content: 'Thêm vào danh sách yêu thích';
  position: absolute;
  right: 130%;
  padding: 5px;
  width: 240px;
  border-radius: 5px;
  background-color: #f14c91;
  color: white;
  font-size: 16px;
  text-align: center;
  display: none;
}

.favorite-tag:hover::before{
  display: block;
}

.favorite-tag-clicked{
  background-color: #f14c91;
}

.detail-option{
  text-align: center;
  width: 100%;
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.detail-option:hover{
  color:black;
  box-shadow: 0 0 1px 2px #ee1010;
}

.detail-title{
  margin: 5px 0;
  font-weight: 600;
}

.selected{
  box-shadow: 0 0 1px 2px #ee1010;
}

.detail-promotion{
  border: 1px solid #078fd8;
  border-radius: 5px;
  padding: 20px 10px 10px;
  position: relative;
}

.detail-warranty{
  border: 1px solid #078FD8;
  border-radius: 5px;
}

.detail-promotion-text{
  position: absolute;
  top: -15px;
  left: 40px;
  background-color: #078fd8;
  color: white;
  padding: 5px 10px 5px;
  border-radius: 50px;
}

.detail-promotion-content{
  margin: 5px 0 0 20px;
  text-align: justify;
}

.detail-supplier-img{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 2px solid black;
}

.detail-check-qty{
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  background-color: #8bd6ff;
}

.detail-branch-list{
  border: 1px solid gainsboro;
  max-height: 170px;
  overflow: auto;
  display: none;
}

.detail-branch{
  padding: 10px;
}

.detail-specifications{
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
  font-weight: 600;
}

.detail-specifications-title{
  padding: 10px;
  font-weight: 600;
  background-color: #078FD8;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.detail-specifications-title-2{
  padding: 10px;
  font-weight: 600;
  background-color: #f1f1f1;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
}

.detail-item{
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.16);
}

.detail-item-title{
  position: relative;
  padding: 0 24px;
  color: black;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.detail-item-title::before{
  content: '';
  position: absolute;
  left: 0; top: 0; bottom: 0;
  width: 5px;
  background-color: #078FD8;
}

.detail-item-content{
  height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}

.detail-vote-avg{
  font-size: 46px;
  color: orange;
  font-weight:   600;
}

.detail-progress-bar{
  width: 100%;
  height: 7px;
  background-color: #dcdcdc;
  position: relative;
}

#percent-5-star, #percent-4-star, #percent-3-star, #percent-2-star, #percent-1-star{
  position: absolute;
  top: 0; left: 0; bottom: 0;
  background-color: #078FD8;
}

.star-rating{
  cursor: pointer;
}

.upload-inp{
  display: none;
}

.evaluate-img-div{
  position: relative;
  z-index: 1;
  background-color: white;
  display: none;
}

.img-rating{
  width: 25%;
  padding: 5px;
  position: relative;
}

.btn-remove-single-img{
  cursor: pointer;
  position: absolute;
  top: 5px; right: 5px;
  z-index: 1;
  width: 20px;
  height: 20px;
  color: black;
}

.btn-expanded-evaluate{
  cursor: pointer;
  display: none;
}

.expand-icon{
  transition: .2s;
}

.detail-btn-login{
  padding: 5px 20px;
  border: 2px solid #078FD8;
  border-radius: 5px;
  background-color: #078FD8;
  color: white;
  text-align: center;
  font-weight: 600;
  transition: .2s;
}

.detail-btn-login:hover{
  border: 2px solid #078FD8;
  background-color: white;
  color: #078FD8;
}

.img-evaluate{
  width: 100px;
  height: 100px;
}

/*========================================================================================================================
                                                      Login & Signup                                                           
/*========================================================================================================================*/

.login-signup-sec{
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  background-image: url("../images/login-signup-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.login-signup-box{
  padding: 50px; 
  border-radius: 10px;
  background-color: white;
}

.login-with{
  position: relative;
  color: #9c9c9c;
  margin: 20px 0 10px 0;
  text-align: center;
}


.login-with::before{
  content: '';
  position: absolute;
  left: 0; top: 50%; right: 0; bottom: 50%;
  z-index: 1;
  width: 100%;
  height: 1px;
  background-color: #e5e2e2;
}

.login-with::after{
  position: relative;
  z-index: 2;
  content: 'Đăng nhập với';
  background-color: white;
  padding: 0 20px;
}

.btn-login-signup-with{
  width: 200px;
  padding: 7px;
  border-radius: 20px;
  font-weight: bold;
  margin: 5px;
  background-color: white;
  color: black;
}

.btn-login-signup-with:hover{
  color: black;
}

.signup-image{
  margin: 0 20px 20px 20px;
  background-color: #e3f5ff;
}

/* hide reCAPTCHA */
.grecaptcha-badge { 
  visibility: hidden;
}

/*========================================================================================================================
                                                      Compare                                                           
/*========================================================================================================================*/

.compare-btn-add-phone{
  cursor: pointer;
  border: none;
  background: none;
}

.btn-close{
  position: absolute;
  top: 10px; right: 10px;
}

.compare-list-search-phone{
  max-height: 500px;
  overflow: auto;
  display: none;
}

.compare-single-phone{
  cursor: pointer;
  padding: 10px;
  background-color: white;
}

.compare-single-phone:hover{
  background-color: #a6e0ff;
}

.compare-detail{
  display: none;

}

/*========================================================================================================================
                                                        Cart                                                           
/*========================================================================================================================*/

.header-cart{
  position: sticky;
  top: 80px;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.16);
}

.remove-all-cart{
  cursor: pointer;
  font-size: 18px;
}

.cart-qty-input{
  border: 1px solid gainsboro;
  padding: 5px 10px;
}

.cart-list-pro{
  max-height: 500px;
  overflow-y: visible;
  overflow-x: hidden;
}

.remove-all-cart:hover::before, .remove-all-cart:hover::after{
  display: block;
}

.remove-all-cart::before{
  content: 'Xóa tất cả';
  position: absolute;
  left: -40px; top: 100%;
  margin-top: 10px;
  width: 100px;
  padding: 5px;
  font-size: 16px;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  border-radius: 5px;
  display: none;
}

.remove-all-cart::after{
  content: '';
  position: absolute;
  top: 100%; left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  opacity: 0.8;
  display: none;
}

/*========================================================================================================================
                                                      Checkout                                                           
/*========================================================================================================================*/

.atStore, .atHome{
  display: none;
  background-color: #f5f5f5;
}

.list-address{
  max-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-branch{
  border: 1px solid #dcdcdc;
  margin-top: 10px;
  max-height: 400px;
  overflow: auto;
  display: none;
}

.single-branch{
  padding: 7px 12px;
  background-color: white;
}

.single-branch:hover{
  background-color: #f8f8f8;
}

.single-branch:hover .branch-text{
  color: white;
}

.checkout-payment-icon{
  width: 60px;
  margin: 0 2px;
}

.checkout-btn-collapse-cart{
  cursor: pointer;
  transition: .5s;
}

/*========================================================================================================================
                                                      Payment success                                                           
/*========================================================================================================================*/

.success-sec{
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  background-color: #078FD8;
}

.order-id{
  background-color: #16e420;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  width: auto;
  padding: 5px 30px;
  margin: 10px 0;
}

#success-checkout{
  opacity: 0;
  transition: .5s;
}

/*========================================================================================================================
                                                        Footer                                                           
/*========================================================================================================================*/

.signup-footer{
  position: relative;
  z-index: 2;
}

.middle-footer{
  position: absolute;
  z-index: 1;
  left: 50px; right: 50px; top: -100px;
  padding-top: 235px;
  background-color: #f2fbff;
}

.footer-big-img{
  position: absolute;
  left: 0; top: 0;
  z-index: 2;
}

.copyright-footer{
  padding: 20px 0;
}
